a {
  text-decoration: none;
}
.social-links1 {
  height: 2rem;
  width: 2rem;
}
.social-links2 {
  height: 2rem;
  width: 2rem;
  margin-left: 2%;
}

hr {
  width: 25%;
  /* border: none;
  border-top: 1px solid black; 
  height: 1px;  */
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F7F4FF;
}
.home-container01 {
  width: 100%;
  height: 265px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  top: 60%;
  left: 0px;
  right: 0px;
  width: 250px;
  margin: auto;
  z-index: 100;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-container02 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container03 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container04 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-container05 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container08 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container09 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-container10 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container13 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container14 {
  flex: 0 0 auto;
  width: 90%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-container15 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-container16 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .home-container01 {
    width: 100%;
    height: 350px;
    /* background-color: #3f3a63; */
    background-image: url('../assets/Cover.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-image {
    top: 65%;
    flex: 1;
    left: 0px;
    width: 240px;
    height: 240px;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-round);
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    animation-iteration-count: 1;
    animation-timing-function: ease;
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .home-container02 {
    width: 232px;
    height: 154px;
    border-color: rgba(120, 120, 120, 0);
  }
  .home-container03 {
    width: 90%;
    height: auto;
    position: relative;
  }
  .home-text {
    align-self: center;
  }
  .home-text1 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .home-container04 {
    width: 100%;
    height: auto;
  }
  .home-social-bar {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .home-icon {
    width: 30px;
    height: 30px;
  }
  .home-icon2 {
    width: 30px;
    height: 30px;
  }
  .home-container05 {
    width: 90%;
    border-width: 0px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text2 {
    font-style: normal;
    font-weight: 400;
  }
  .home-container06 {
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-fourunits);
    border-color: var(--dl-color-gray-white);
    border-width: 0px;
  }
  .home-container07 {
    width: 100%;
    height: 50px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text3 {
    align-self: flex-start;
    font-weight: 400;
  }
  .home-container08 {
    width: 100%;
    height: auto;
  }
  .home-blog {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
  }
  .home-container12 {
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-container13 {
    width: 100%;
    border-width: 0px;
    /* margin-bottom: var(--dl-space-space-twounits); */
    margin-bottom: 0px;
  }
  .home-text4 {
    font-style: normal;
    font-weight: 400;
  }
  .home-container14 {
    width: 100%;
    height: auto;
  }
  .home-features {
    width: 100%;
    height: auto;
    padding: 0px;
  }
  .home-container15 {
    width: auto;
    height: auto;
    margin-top: var(--dl-space-space-twounits);
  }
  .home-container16 {
    width: 100%;
    height: auto;
    border-width: 0px;
    background-color: #3f3a63;
  }
  .home-button {
    color: var(--dl-color-gray-900);
    width: auto;
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 20px 0px;
    margin-top: var(--dl-space-space-threeunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-threeunits);
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 1200px) {
  .home-image {
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .home-container03 {
    width: 90%;
  }
  .home-container05 {
    width: 90%;
    height: 115px;
  }
  .home-text2 {
    font-style: inherit;
    font-weight: 500;
  }
}
@media(max-width: 991px) {
  .home-blog {
    flex-direction: column;
  }
  .home-container09 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container10 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container15 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

/* Skill scroller */
/* Slider-tools */

.skills-scroller-container {
  display: flex;
  width: 90%; /* Make sure the container spans the entire width */
}

.left-div,
.right-div {
  /* margin-top: 100px; */
  flex: 1; /* Each box takes up equal space */
  /* border: 2px solid rgb(255, 253, 253); Add black border */
  box-sizing: border-box; /* Include border in box dimensions */
  max-width: calc(50% - 4px); /* Set maximum width for each box */
  overflow: auto; /* Add scrollbars if content overflows */
}

.right-div{
  /* margin-top: 100px; */
  padding-top: 4.5%;
  margin-left: 6%;
}

.skills-heading {
  font-size: 2em; /* Adjust font size as needed */
  margin-bottom: 10px;
  font-weight: 400; /* Use regular font weight */
}

.skills-scroller {
  width: 100%; /* Make the scroller container full width */
  display: flex;
  flex-direction: column;
  /* Remove max-width, set margin to auto for centering */
  /* margin: 0 auto; */
}

.skill-item {
  /* top: 10%; */
  display: flex;
  /* align-items: center;*/
  margin-bottom: 30px; /* Adjust margin as needed */
}

.skill-image {
  top: 10%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.skill-name {
  display: flex;
  font-size: 1em; /* Adjust font size as needed */
  margin-right: 20px; /* Add margin to the right */
  align-self: flex-start;
}

.skill-bar {
  flex: 1; /* Make skill bar take up remaining space */
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Add text alignment for centered text */
}

.skills-scroller {
  width: 100%; /* Make the scroller container full width */
}

.skill-item {
  display: flex; /* Make skill item a flex container */
  flex-direction: column; /* Stack name and bar vertically */
  align-items: center; /* Center content horizontally */
  margin-bottom: 30px; /* Adjust margin as needed */
}

.skill-name {
  font-size: 1em; /* Adjust font size as needed */
  margin-bottom: 10px; /* Add margin to the bottom */
}

.skill-bar {
  width: 100%; /* Make skill bar take up full width */
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Add text alignment for centered text */
}

/*
.skills-scroller-container {
  margin-top: 0px;
}

.skills-heading {
  font-size: 50px;
  margin-bottom: 10px;
}

.skills-scroller {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-left: 25%;
  margin-right: 25%;
}

.skill-item {
  margin-bottom: 50px;
}

.skill-name {
  font-size: 30px ;
}

.skill-bar {
  height: 30px;
  background-color: #e0e0e0;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-scroller-container{
  width: 90%;
}
.skills-heading{
  font-weight: 400;
  font-size: 2em;
}
.skill-name{
  font-size: 1em;
}
*/

/* TOOLS SECTION */
.home-container69 {
  width: 90%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container169 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-features69 {
  width: 100%;
  display: flex;
  /* padding: var(--dl-space-space-threeunits); */
  max-width: var(--dl-size-size-maxwidth);
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-text69 {
  color: var(--dl-color-gray-black);
  height: 62px;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  /* margin-bottom: var(--dl-space-space-threeunits); */
}
.home-container269 {
  margin-top: 5%;
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  border-color: #F7F4FF;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 1600px) {
  .home-container169 {
    background-color: var(--dl-color-gray-white);
  }
  .home-features69 {
    border-color: var(--dl-color-gray-white);
    background-color: #f6f4ff;
  }
  .home-text69 {
    color: var(--dl-color-gray-black);
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-container269 {
    border-color: #f6f4ff;
  }
}
@media(max-width: 1200px) {
  .home-features69 {
    position: relative;
  }
  .home-text69 {
    color: var(--dl-color-gray-black);
  }
  .home-container269 {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .home-text69 {
    align-self: center;
  }
  .home-container269 {
    position: relative;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-features69 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-features69 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container269 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}